.home-container{
    height: 100%;
    width: 100%;

    background: url("assets/img/doctor.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}

#home-box{
    top: 300px;
    left: 40px;
}


.ui.buttons:not(.basic):not(.inverted)>.button, .ui.buttons>.ui.button:not(.basic):not(.inverted){
    width: 100%;
}

#home-box{
    width: 50%;
}

.ui.button{
    font-size: 20px;
}


.ui.buttons > .or{
    font-size: 20px;
}
